.App {
  width: 100%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}
.todo {
  margin-top: 15px;
  width: 100%;
  padding: 15px 0px;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 98%);
  display: flex;
  align-items: flex-start;
}
.todo button {
  margin: 0px 15px;
  border-radius: 50%;
  border: 2px solid hsl(236, 9%, 61%);
  width: 30px;
  height: 30px;
}
.checked {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.completed {
  font-style: italic;
  text-decoration: line-through;
}
.todo .todoTextBox {
  font-size: 18px;
  color: hsl(235, 19%, 35%);
  border: none;
  background-color: hsl(0, 0%, 98%);
}
.todoList {
  margin-top: 10px;
  width: 540px;
  background: hsl(0, 0%, 98%);
  border-radius: 4px;
  padding: 1rem;
}
.todoList .listItems {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: hsl(235, 19%, 35%);
  margin: 30px 0 auto;
}
.checkBox {
  border: 2px solid hsl(236, 9%, 61%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.todoList .filters {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
