body {
  width: 100vw;
  min-height: 100vh;
  background: url(./img/bg-desktop-light.jpg);
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}
